<!DOCTYPE html>
<html>
<head>
	<title> Chat with us </title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chattbot.css') }}">
	 
     
    
</head>
<body>

<div class="header">
	<h1 align="center" class="text-light" style="font-family: sans-serif; " > When you let go of what you are,you become what you want to be. </h1>
</div>
	 <iframe  
    allow="microphone;"
    width="400"
    height="400"
    align = "center"
    src="https://console.dialogflow.com/api-client/demo/embedded/a393862f-1d6d-43cc-a5f7-ce8cb394fc30">
</iframe>

</body>
</html>