<!DOCTYPE html>
<html>
<head>
	<title>Pschye Central</title>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/success.css') }}">
      

      <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>

<body>
	<div class ="parallax">
    
    <div class="header">
	<h1 style="color: white;" align="Center"; > Welcome to Psyche Central </h1>  </div>
	<p style="color: white;" align="Center";> Mental health awareness site <p>
	 </div>




    <div id="workarea">
	
      
  <div class="position">

    <!--start button, nothing above this is necessary -->

    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href=""><span class="spot"></span>Home</a>
        </div>
      </svg>
    </div>
    <!--Next button -->
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href="{{url_for('help')}}"><span class="spot"></span> Help</a>
        </div>
      </svg>
    </div>
    <!--Next button -->
    
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href="{{url_for('chatbot')}}"><span class="spot"></span>Chat</a>
        </div>
      </svg>
    </div>
    
   <div class="about">
      
          <h2 style="color: white;"> “The only thing more exhausting than being depressed is pretending that you’re not.”  </h2>

          <p style="color: white;"> You are not alone in this journey of fogness alot of people gone through this.Their experience might help to learn more about it.
       
    </div>

    <!--End button -->
</div>



<iframe width="400" height="315" src="https://www.youtube.com/embed/y_T9Jg0U2DA?autoplay=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	
</iframe>

<div class ="next">
	<h1 align="center"style="color: white;"> Chris evans  </h1>
	<h2 style="color:white; float: right;"> Our favourite superhero seems strong and tough but in real life he is gone through alot of mental pressure .Looking at his journey and how he cope up with this.</h2>
 <iframe width="400" height="315" src="https://www.youtube.com/embed/HqSoxMOrVeE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>

<div class ="next1">
	<h1 align="center"style="color: white;"> Atheletes about mental health  </h1>
	<h2 align  ="right" style="color:white;"> look out their jounery.</h2>
 <iframe width="400" height="315" src="https://www.youtube.com/embed/-N5RT5vXEus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>

<div class ="next2">
	<h1 align="center"style="color: white;"> Useful tedtalks  </h1>
	<h2 align  ="right" style="color:white;"> .</h2>
 <iframe width="400" height="315" src="https://www.youtube.com/embed/Znq8i6jc8-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="400" height="315" src="https://www.youtube.com/embed/Sdk7pLpbIls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




</div>
   
    


  

  
</div>

</body>

</html>